*{
	margin: 0;
	padding: 0;
}
#root{
	display: flex;
	justify-content: space-between;
}

.App {
	width: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  margin:auto;
	background-color: aqua;
}



