.form-block {
width:480px;
height: 250px;
border:1px solid teal;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
margin: auto;
margin-bottom: 15px;
margin-top: 15px;
}
.inp{
	width:145px;
	height: 25px;
	margin: 5px;

}

