@media (max-width: 575.9px) {
  .main-page,
  .main-page-info {
    width: 100%;
    height: 150%;
  }
  .main-page-info {
    display: flex;
    flex-direction: column;
  }
  .header {
    justify-content: space-between;
    height: 9%;
  }
  .header-logo {
    width: 30%;
  }
  .logo-text {
    left: 5%;
  }
  .header-nav {
    width: 65%;
    flex-wrap: wrap;
  }

  .home,
  .about,
  .experiences,
  .testimonial {
    font-size: 15px;
    margin: 0 4% 0 0;
  }

  .main-image {
    width: 100%;
    height: 100%;
  }
  .main-text {
    width: 100%;
    height: 50%;
  }
  .text {
    margin: 1% 6% 0 6%;
  }
  /*---------*/
  .skills-block {
    display: flex;
    flex-direction: column;
    height: 200%;
  }
  .skills-text {
    width: 100%;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .skills-text .top-skills-text {
    margin: 1% 0 0 6%;
  }
  .middle-skills-text{
    height: 60px;
   
  }
  
  .scale {
    flex-direction: column-reverse;
    width: 100%;
    height: 150%;
  }
  .scale-block {
    width: 100%;
    height: 50%;
  }
  .skills-image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .skills-level {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    align-items: center;
    margin: 8% 5% 0 5%;
  }
  .degree {
    width: 100%;
  }
  .skill-percent {
    margin: 0;
  }
  /*------*/
  .fourth-block {
    display: flex;
    flex-direction: column;
    height: 200%;
  }
  .skills-cards {
    flex-wrap: wrap;
    height: 200%;
  }
  .card {
    width: 100%;
    height: 25%;
  }
  .experience,
  .education {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .image-desktop,
  .image-phone {
    width: 100%;
    height: 50%;
  }
  .experience-info,
  .education-info {
    width: 100%;
    height: 50%;
  }
  /*-----*/
  .big-image {
    height: 75%;
  }
  .star {
    margin: 0 0 4% 0;
  }
  .big-image .text {
    margin: 1% 6% 1% 6%;
  }
  /*----*/
  .form-and-contact {
    flex-direction: column;
    height: 200%;
  }
  .form-field {
    width: 100%;
    height: 50%;
  }
  .form-field .heading {
    margin: 1% 6% 1% 6%;
  }
  .main-form {
    height: 55%;
    margin: 0 6% 0 6%;
  }

  .user-name,
  .user-email,
  .user-tex {
    padding-top: 3.5%;
  }
  .bottom-btn {
    margin: 2% 6% 0 6%;
  }
  .topic {
    font-size: 30px;
    height: 45px;
    margin: 3% 6% 0 6%;
  }
  .business-card {
    flex-direction: column;
    width: 100%;
    height: 150%;
  }
  .contact-image {
    width: 100%;
    height: 100%;
  }
  .contact-and-address {
    width: 100%;
    height: 50%;
  }
  .footer {
    height: 20%;
  }
}/*
@media (min-width: 280px) and (max-width: 293px) {
  .btn {
    width: 120px;
    height: 30px;
  }
  .bottom-btn {
    margin: 3% 6% 0 6%;
  }
  .middle-skills-text{
    height: 60px;
    
  }*/

