@media (min-width: 576px) and (max-width: 992px) {
  
	.wrapper{
		width: 100%;
	}
	.main-page {
    width: 100%;
    height: 1058px;
  }
  .header {
    width: 100%;
    height: 95px;
    justify-content: space-between;
  }
  .header-logo {
    width: 40%;
  }
  .logo-text {
    left: 28%;
  }
  .home,
  .about,
  .experiences,
  .testimonial {
    font-size: 20px;
    margin: 0 4% 0 0;
  }
  .main-page-info {
    display: flex;
    flex-direction: column;
		height: 1058px;
  }
  .main-image {
    width: 100%;
    height: 583px;
  }
  .main-text {
    width: 100%;
    height: 475px;
  }
  .text {
    margin: 1% 6% 0 6%;
  }
	
  /*---------*/
  .skills-block {
    display: flex;
    flex-direction: column;
    height: 1334px;
  }
  .skills-text {
    width: 100%;
    height: 351px;
    justify-content: flex-start;
    align-items: cente;
  }
  .skills-text .heading {
    margin: 0 6% 0 6%;
		height: 63px;
  }
  .scale {
		flex-direction: column;/*сделать этот блок вертикальным*/
    width: 100%;
    height: 983px;
  }
	.skills-image{
		width: 100%;
		height: 583px;
	}
	.scale-block{
		width: 100%;
		height: 400px;
	}
  .skills-level {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60%;
    align-items: center;
    margin: 2% 6% 0 6%;
  }
	.skills-preview{
		height: 50px;
		font-size: 28px;
	}
  .degree {
    width: 100%;
  }
  .skill-percent {
    margin: 0;
  }
  .my-skills {
    font-size: 50px;
    height: 45px;
    margin: 1% 6% 0 6%;
  }
  /*------*/
  .skills-cards {
    flex-wrap: wrap;
    height: 992px;
  }
  .card {
    width: 50%;
    height: 50%;
  }
	/*-----*/
	.fourth-block{
    height: 992px;
	}
  /*-----*/
	.big-image{
		height: 590px;
	}
  .star {
    margin: 0 0 4% 0;
  }
  .big-image .text {
    margin: 1% 6% 1% 6%;
  }
  /*----*/
  .form-and-contact {
    flex-direction: column;
    height: 1488px;
  }
  .form-field {
    width: 100%;
    height: 496px;
  }
  .form-field .heading {
    margin: 1% 6% 1% 6%;
  }
  .main-form {
    height: 50%;
    margin: 0 6% 0 6%;
  }
  .business-card {
		flex-wrap: wrap;
    width: 100%;
    height: 992px;
  }
	.contact-image{
		width: 100%;
		height: 583px;
	}
	.contact-and-address{
		width: 100%;
		height: 409px;
	}
	.address-list{
		width: 100%;
		height: 100%;
	}
  .bottom-btn {
    margin: 1% 6% 0 6%;
  }
  .topic {
    font-size: 50px;
    height: 60px;
    margin: 1.5% 6% 0 6%;
  }
  .footer {
    height: 200px;
  }
}
@media (min-width: 576px) and (max-width: 712px) {
  .main-page,
	.main-page-info{
		height: 1058px;
	}
	.header-nav {
    flex-wrap: wrap;
  }
  .home,
  .about,
  .experiences,
  .testimonial {
    font-size: 20px;
  }
	.main-image{
		height: 550px;
	}
	.main-text{
		height: 508px;
	}
	.middle-skills-text{
		height: 60px;
		margin: 0.5% 6% 20 6%;
  }
	.skills-text .heading {
		justify-content: flex-start;
    		height: 50px;
  }
	.experience-info,
	.education-info{
		justify-content: space-between;
	}
	.period{
		height: 70%;
		font-size: 24px;
	}
	.experience-text,
	.education-text,
	.some-text{
	  font-size: 24px;
	}
	.expirience-text,
	.education-text{
		height: 85px;
	}
	
}
  @media (min-width: 576px) and (max-width: 612px){
	.main-image{
		height: 520px;
	}
	.main-text{
		height: 538px;
	}
  }



